.node {
  width: 25px;
  height: 25px;
  outline: 1px solid lightskyblue;
  border: 1px solid lightblue;
  display: inline-block;
}

.node-finish {
  background-color: red;
}

.node-start {
  background-color: green;
}

.node-visited {
  background-color: lightblue;
}

.node-wall {
  background-color: rgb(2, 36, 51);
}

.node-visited {
  animation-name: wallAnimation;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-shortest-path {
  animation-name: visitedAnimation;
  animation-duration: 1.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: darkblue;
  }
  10% {
    transform: scale(0.1);
    background-color: darkcyan;
  }

  50% {
    transform: scale(1.2);
    background-color: blue;
  }
  100% {
    transform: scale(1);
    background-color: cornflowerblue;
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: yellowgreen;
  }
  10% {
    transform: scale(0.1);
    background-color: yellowgreen;
  }

  50% {
    transform: scale(1.2);
    background-color: yellow;
  }
  100% {
    transform: scale(1);
    background-color: yellow;
  }
}
